@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
    font-family: "Inter", sans-serif;
    font-variation-settings:
      "slnt" 0;
  }

  .rakkas {
    font-family: "Rakkas", serif;
    font-style: normal;
  }
  

  .zoomIn {
    animation: zoom 1s ease-in forwards;
  }

  .zoomIn-burger {
    animation: zoomBurger 1s ease-in forwards;
  }

  @keyframes zoom {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes zoomBurger {
    from {
      transform: scale(0.5);
      opacity: 0
    }
    to {
      transform: scale(1);
      opacity: 1
    }
  }

  .fries_r {
    animation: slideIn 1s ease-in forwards, jump 1s ease-in-out 1s infinite;
    transform: scale(1.5);
  }
  
  @keyframes jump {
    0% {
      transform: translateY(1%) scale(1.5);
    }
    50% {
      transform: translateY(0%) scale(1.5);
    }
    100% {
      transform: translateY(1%) scale(1.5);
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%) scale(1.5);
      opacity: 0;
    }
    to {
      transform: translateX(0) scale(1.5);
      opacity: 1;
    }
  }
  
.fries_l {
  animation: slideIn_l 1s ease-in forwards, jump 1s ease-in-out 1s infinite;
  transform: scale(1.5);
}

@keyframes slideIn_l {
  from {
    transform: translateX(-100%) scale(1.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1.5);
    opacity: 1;
  }
}


.hiddenNavSlideIn {
  animation: navSlideIn 0.25s ease-in forwards
}

@keyframes navSlideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hiddenNavSlideOut {
  animation: navSlideOut 0.25s ease-in forwards
}

@keyframes navSlideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}


.box {
  --mask:
    radial-gradient(111.8px at 50% 150px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
    radial-gradient(111.8px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
    radial-gradient(111.8px at 50% calc(100% - 150px),#000 99%,#0000 101%) 50% 100%/200px 51% repeat-x,
    radial-gradient(111.8px at 50% calc(100% + 100px),#0000 99%,#000 101%) calc(50% - 100px) calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}